.card {
  background-color: pink;
  padding: 15px;
  width: 300px;
  height: 200px; }
  .card .heading {
    font-size: 18px;
    color: orange; }
  .card .description {
    font-size: 12px;
    color: orange; }
